#preloader {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  #preloader.hide {
    opacity: 0;
    transform: scale(1.1);
    pointer-events: none;
  }
  

  .loader {
    display: grid;
    grid-template-columns: repeat(3, 28px);
    grid-template-rows: repeat(3, 28px);
    gap: 10px;
  }
  

  .loader .box {
    width: 28px;
    height: 28px;
    background: white;
    opacity: 0.2;
    border-radius: 6px;
    transition: opacity 0.4s ease, background-color 0.4s ease;
  }

  .loader .empty {
    width: 28px;
    height: 28px;
    background: transparent;
  }
  

  .loader .box.active {
    opacity: 1;
    background-color: white;
  }
  